<div class="todo">
  <button
    (click)="togglePopup()"
    style="
      background-color: #4caf50; /* Green */
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 4px;
      margin-left: 20px;
    "
  >
    Publicar Mapa
  </button>
  <div class="container">
    <canvas
      style="background-color: white"
      #myCanvas
      width="768"
      height="384"
    ></canvas>
  </div>
  <div style="padding-top: 10px" class="container">
    <div class="imagenes">
      <img
        style="
          height: 64px;
          width: 64px;
          padding-right: 10px;
          padding-left: 10px;
          margin-top: 10px;
        "
        *ngFor="let image of images"
        [src]="image.src"
        [alt]="image.name"
        (click)="selectImage(image)"
        width="50"
        height="50"
      />
    </div>
  </div>
  <div [ngStyle]="{ display: isVisible ? 'block' : 'none' }" id="popup">
    <div style="display: inline-block; margin-right: 20px">
      <label for="mapName" style="margin: 10px; font-size: xx-large"
        >Nombre del mapa:</label
      >
      <input
        type="text"
        id="mapName"
        [(ngModel)]="mapName"
        placeholder=""
        style="
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          width: 100%;
        "
      />
    </div>
    <button
      (click)="togglePopup()"
      style="margin: 10px; background-color: red"
      class="btn"
    >
      CANCELAR
    </button>
    <button
      (click)="exportToJson()"
      style="margin: 10px; background-color: #4caf50"
      class="btn"
    >
      PUBLICAR
    </button>
  </div>
</div>
