<div class="todo">
  <div class="mapa">
    <div style="height: auto" class="container-canvas">
      <canvas #myCanvas width="768" height="384"></canvas>
    </div>
    <div style="padding-top: 10px" class="container">
      <div class="imagenes">
        <img
          [ngClass]="{ activo: activoIndex === i }"
          *ngFor="let image of images; let i = index"
          [src]="image.src"
          [alt]="image.name"
          (click)="selectImage(image, i)"
          width="50"
          height="50"
        />
      </div>
      <button class="btn" (click)="togglePopup()">Publicar Mapa</button>
    </div>
  </div>

  <div [ngStyle]="{ display: isVisible ? 'block' : 'none' }" id="popup">
    @if(!mapaPublicado){
    <div style="display: inline-block; margin-right: 20px">
      <label for="mapName" style="margin: 10px; font-size: xx-large"
        >Nombre del mapa:</label
      >
      <input
        type="text"
        id="mapName"
        [(ngModel)]="mapName"
        placeholder=""
        style="
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          width: 100%;
        "
      />
    </div>
    <button
      (click)="togglePopup()"
      style="margin: 10px; background-color: red"
      class="btn"
    >
      CANCELAR
    </button>
    <button
      (click)="exportToJson()"
      style="margin: 10px; background-color: #4caf50"
      class="btn"
    >
      PUBLICAR
    </button>
    } @else {
    <div class="">
      <label for="mapName" style="margin: 10px; font-size: xx-large"
        >Mapa publicado</label
      >
      <h1>{{ idMapa }}</h1>
    </div>
    }
  </div>
</div>
