<div class="background">
  <br />
  <br />
  <br />
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="main-container">
    <div class="section">
      <div class="title">
        <h1>Iniciar Sesion</h1>
      </div>
      <div class="user-input">
        <h2>Nombre de Usuario o Email</h2>
        <input type="text" formControlName="userInput" />
        <div
          *ngIf="
            loginForm.get('userInput')?.invalid &&
            loginForm.get('userInput')?.touched
          "
        >
          <small style="color: red">Este campo es requerido.</small>
        </div>
      </div>
      <div class="password">
        <h2>Contraseña</h2>
        <input type="password" formControlName="contraseña" />
        <div
          *ngIf="
            loginForm.get('contraseña')?.invalid &&
            loginForm.get('contraseña')?.touched
          "
        >
          <small style="color: red">Debe tener al menos 6 caracteres.</small>
        </div>
      </div>
      <div *ngIf="errorMessage" class="error">
        <small>{{ errorMessage }}</small>
      </div>
      <div class="container-boton">
        <button
          class="button-sesion"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Continuar
        </button>
      </div>
      <h1 (click)="routerRegistro()" >No tiene una cuenta clickear aqui</h1>
    </div>
  </form>
</div>
