@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
@font-face {
  font-family: "super_mario_256regular";
  src: url("../../../public/webfontkit-20240815-141056/supermario256.woff")
      format("woff2"),
    url("../../../public/webfontkit-20240815-141056/supermario256.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  margin-bottom: 0;
}

h2 {
}

h3 {
}

.uno {
  user-select: none;
  display: flex;
  flex-direction: column;
  background-image: url("../../../public/pondi.png"),
    linear-gradient(180deg, #9717ff 16%, #0165e7 76%);
  overflow: hidden;
}

.dos {
  user-select: none;

  display: flex;
  flex-direction: column;
  background-image: url("../../../public/pondi.png"),
    linear-gradient(180deg, #0165e7 16%, #9717ff 76%);
  color: white;
  overflow: hidden;
  padding-top: 35vh;
  padding-bottom: 10vh;
}

.sesion {
  font-family: "Catamaran", sans-serif;
  display: flex;
  align-items: baseline;
  height: 100px;
  margin-top: 0;
}

.sesion button {
  margin-left: -10px;
  margin-right: 2rem;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #0050c1;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
.header img {
  vertical-align: middle;
}
.header h1 {
  display: inline;
  font-size: 24px;
  margin: 0;
  padding-left: 10px;
  vertical-align: middle;
}
.main-content {
  text-align: center;
  padding: 20px;
  display: grid;
  grid-template-columns: 60% 40%;
  min-height: 100vh;
  overflow: hidden;
}

.main-content h2 {
  margin-top: 0;
}
.button {
  background-color: white;
  border-radius: 50px;
  padding: 20px;
  margin: 15px;
  border: solid 3px white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.button:hover {
  background-color: black;
  border-color: black;
  color: white;
  border: solid 3px white;
}
.showcase {
  background: transparent;
}
.showcase .filters {
  margin-bottom: 20px;
}
/* .showcase .filters button {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #03850f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.showcase .filters button:hover {
  background-color: #03510a;
} */

.divisor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px 0 300px 0;
  margin-top: -200px;
  margin-bottom: -300px;

  width: auto;
  height: auto; /* Puedes ajustar la altura según lo necesites */
  background-color: #e60000; /* Color del divisor */
  clip-path: polygon(0 100%, 100% 80%, 100% 0, 0 20%);
  position: relative;

  align-items: center;
  justify-content: center;
}
.divisor h1 {
  color: white;
  font-family: "Catamaran", sans-serif;
  text-align: center;
  font-weight: 1000;
  font-size: 50px;
  align-items: center;
  justify-content: center;
}

.botones-mapa {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botones-mapa button {
  width: 150px;
  font-size: 17px;
  font-weight: 900;
}

.showcase .world-grid {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  height: 50%;
  width: 75%;
  background-color: transparent;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.showcase .world-grid .world-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.showcase .world-grid .world-item img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
.showcase .world-grid .world-item h3 {
  font-size: 18px;
  margin: 0 0 10px;
}
.showcase .world-grid .world-item .info {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 60%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.right {
  width: 40%;
}

.left h1 {
  font-family: "super_mario_256regular";
  letter-spacing: 3px;
  text-align: left;
  font-size: 800%;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}
.left h2 {
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 0;
  margin-top: 0;
  color: white;
}

.left h3 {
  font-family: "Catamaran", sans-serif;
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.right {
  background-image: url("../../../public/img/mario2.png");
  background-size: 0%;
  width: 100%;
  overflow-x: visible;
}

.mario {
  margin-top: 40px;
  animation: slideUp 1s ease-out forwards; /* Inicia la animación al cargar la página */
  width: 120%;
  position: relative;
}

.app-mapa {
}

::-webkit-scrollbar {
  width: 10px;
  height: 15px;
  margin-top: 10px;
}

::-webkit-scrollbar-track {
  padding: 0px 50px 0px 50px;
  background: #7a0000;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9b0000;
  border-radius: 50px;
  width: 6px; /* Reduce el tamaño de la scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

@keyframes slideUp {
  from {
    transform: translateY(20%) translateX(0px); /* Comienza fuera de la vista */
  }
  to {
    transform: translateY(0) translateX(-75px); /* Se mueve a la posición original */
  }
}

.nosotros {
  width: auto;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.nosotros-grid {
  width: auto;
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
}

.persona {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  font-family: "Catamaran", sans-serif;
  font-weight: 1000;
  font-size: 20px;
  border-radius: 20px;
  width: 350px;
  height: 450px;
  margin-top: 0px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  color: white;
  text-align: center;
  overflow: hidden;
  border: 5px solid transparent;
  transition: 100ms;
}
.persona-container {
  position: relative;
  width: 100%;
  border-radius: 20px 20px 10px 10px;
  margin: -25px;
  overflow: hidden; /* Asegura que el degradado no sobresalga */
}

.persona-imagen {
  width: 100%;
  border-radius: 20px 20px 10px 10px;
  transition: 1250ms;
  filter: brightness(1);
}

.persona-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; /* O ajusta según necesites */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.persona h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 900;
}

.persona p {
  margin-top: -10px;
  font-size: 30px;
  font-weight: 600;
}

.persona:hover .persona-imagen {
  scale: 2;
  filter: brightness(1.2);
}

.persona:hover h3 {
}

.jungla {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.dos h1 {
  color: white;
  font-family: "Catamaran", sans-serif;
  text-align: center;
  font-weight: 1000;
  font-size: 50px;
  align-items: center;
  justify-content: center;
}

.tadeo {
  background-image: repeating-linear-gradient(
    -45deg,
    #0095cf,
    #0095cf 6px,
    #00a9ec 0,
    #00a9ec 12px
  );
  border: 5px solid #00a9ec;
}
.tadeo:hover {
  background-image: repeating-linear-gradient(
    -45deg,
    #00a9ec,
    #00a9ec 6px,
    #00c4ff 0,
    #00c4ff 12px
  );
  border: 5px solid #00c4ff;
  box-shadow: 0px 0px 10px #00c4ff;
}
.tadeo:hover h3 {
  text-shadow: 0px 0px 10px #006488;
}
.tadeo:hover .persona-imagen {
  scale: 2.75;
  transition: 5000ms;
}

.pulvi {
  background-image: repeating-linear-gradient(
    -45deg,
    #cf6400,
    #cf6400 6px,
    #df6c00 0,
    #df6c00 12px
  );
  border: 5px solid #df6c00;
}
.pulvi:hover {
  background-image: repeating-linear-gradient(
    -45deg,
    #df6c00,
    #df6c00 6px,
    #ff7b00 0,
    #ff7b00 12px
  );
  border: 5px solid #ff7b00;
  box-shadow: 0px 0px 10px #ff7b00;
}
.pulvi:hover h3 {
  text-shadow: 0px 0px 10px #b45700;
}

.salas {
  background-image: repeating-linear-gradient(
    -45deg,
    #b4003c,
    #b4003c 6px,
    #ca0043 0,
    #ca0043 12px
  );
  border: 5px solid #ca0043;
}
.salas:hover {
  background-image: repeating-linear-gradient(
    -45deg,
    #ca0043,
    #ca0043 6px,
    #ff0054 0,
    #ff0054 12px
  );
  border: 5px solid #ff0054;
  box-shadow: 0px 0px 10px #ff0054;
}
.salas:hover h3 {
  text-shadow: 0px 0px 10px #7e002a;
}

.maco {
  background-image: repeating-linear-gradient(
    -45deg,
    #008500,
    #008500 6px,
    #009e00 0,
    #009e00 12px
  );
  border: 5px solid #009e00;
}
.maco:hover {
  background-image: repeating-linear-gradient(
    -45deg,
    #009e00,
    #009e00 6px,
    #00b800 0,
    #00b800 12px
  );
  border: 5px solid #00b800;
  box-shadow: 0px 0px 10px #00b800;
}
.maco:hover h3 {
  text-shadow: 0px 0px 10px #005f00;
}

.nanu {
  background-image: repeating-linear-gradient(
    -45deg,
    #7d009c,
    #7d009c 6px,
    #9700bd 0,
    #9700bd 12px
  );
  border: 5px solid #9700bd;
}
.nanu:hover {
  background-image: repeating-linear-gradient(
    -45deg,
    #9700bd,
    #9700bd 6px,
    #b800ff 0,
    #b800ff 12px
  );
  border: 5px solid #b800ff;
  box-shadow: 0px 0px 10px #b800ff;
}
.nanu:hover h3 {
  text-shadow: 0px 0px 10px #540075;
}

.neck {
  background-image: repeating-linear-gradient(
    -45deg,
    #cf00cf,
    #cf00cf 6px,
    #f800f8 0,
    #f800f8 12px
  );
  border: 5px solid #f800f8;
}
.neck:hover {
  background-image: repeating-linear-gradient(
    -45deg,
    #cf00cf,
    #cf00cf 6px,
    #ff00ff 0,
    #ff00ff 12px
  );
  border: 5px solid #ff00ff;
  box-shadow: 0px 0px 10px #ff00ff;
}
.neck:hover h3 {
  text-shadow: 0px 0px 10px #8d008d;
}
