<div class="main-content">
  <h2>CREA TUS PROPIOS MUNDOS!!!!</h2>
  <p>Creado por los grandes programadores del poli, genovesi no.</p>
  <a (click)="routerLogIn()" class="button">Iniciar Sesion</a>
  <a (click)="routerSingUp()" class="button">Registrarse</a>
</div>

<div class="showcase">
  <div class="filters">
    <button (click)="filtrarMapas('popular')">Mas Popular</button>
    <button (click)="filtrarMapas('nuevo')">Nuevos</button>
  </div>
  <div class="world-grid">
    <app-mapa *ngFor="let item of filteredMapas" [item]="item"></app-mapa>
  </div>
</div>
