<div id="inicio" class="uno">
  <div class="main-content" src>
    <div class="left">
      <h2 _ngcontent-ng-c683500320="">El sitio oficial</h2>
      <h1>POLIBROS</h1>
      <h3>
        Explora la creatividad y la diversión creando niveles únicos para tu
        juego. Con nuestras herramientas intuitivas, puedes diseñar escenarios
        personalizados y ajustar cada detalle a tu gusto.
      </h3>
      <div class="sesion">
        @if(!loggedIn){
        <a (click)="routerLogIn()" class="button">Iniciar Sesion</a>
        <a (click)="routerSingUp()" class="button">Registrarse</a>
        }@else{
        <a (click)="routerCrearMapa()" class="button">Crear Mapa</a>
        }
      </div>
    </div>
    <div class="right">
      <img class="mario" src="{{ marioSrc }}" alt="Imagen" />
    </div>
  </div>
</div>

<div class="showcase">
  <div class="filters">
    <div class="divisor">
      <h1 id="mapasContainer">¡Mapas de la comunidad!</h1>
      <div class="botones-mapa">
        <button class="button" (click)="filtrarMapas('popular')">
          Mas Popular
        </button>
        <button class="button" (click)="filtrarMapas('nuevo')">Nuevos</button>
      </div>
      <div class="world-grid">
        <app-mapa *ngFor="let item of filteredMapas" [item]="item"></app-mapa>
      </div>
    </div>
  </div>
</div>

<div class="dos"></div>
