.main-container {
  padding: 20px;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 93.9vh;
}

.mismapas-container {
  background-color: white;
  min-height: 12vh;
  min-width: 600px;
  padding: 20px;
}

.mapasguardados-container {
  background-color: white;
  min-height: 12vh;
  min-width: 600px;
  padding: 20px;
}

.section {
  background-color: #343a40;
  color: white;
  padding: 20px;
  min-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.create-button {
  background-color: #fff;
  color: #343a40;
  border: 1px solid #343a40;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.create-button:hover {
  background-color: #343a40;
  color: white;
}
