<div class="todo">
  <div class="info-creator">
    <h2 for="mapName" style="margin-right: 10px">
      {{ mapa.name }}
    </h2>
    <div class="right">
      <h2>by {{ mapa.creator.username }}</h2>
      <h2>codigo: {{ mapa.id }}</h2>
      <h2>Dificultad: 
        <img [src]="getImageForDificultad()">
      </h2>
    </div>
    <button (click)="clonar()"><img src="clonar.png" alt=""></button>
  </div>
  <div class="container">
    <canvas
      style="background-color: white"
      #myCanvas
      width="768"
      height="384"
    ></canvas>
  </div>
</div>
