body {
    font-family: Arial, sans-serif;
    background-color: #FFC300 !important;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-container {
    margin: 0 auto;
    background-color: #FFC300;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;

}
.title h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.mail, .password , .nombre{
    margin-bottom: 15px;
}
.mail h2, .password h2, .nombre h2 {
    margin: 0 0 5px;
    color: #555;
}
input[type="email"], input[type="password"], input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #03850F;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #03510A;
}
.backgroud {
    background-color: #FFC300;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

