<div class="main-container">
  <div class="section">
    <div class="title">
      <h1>Registrar</h1>
    </div>
    <div class="nombre">
      <h2>Nombre</h2>
      <input type="text" name="nombre" id="nombre" />
    </div>
    <div class="mail">
      <h2>Mail</h2>
      <input type="email" name="mail" id="mail" />
    </div>
    <div class="password">
      <h2>Contraseña</h2>
      <input type="password" name="contraseña" id="contraseña" />
    </div>
    <button>Registrar</button>
  </div>
</div>
